body{
    margin:0px;
    border:0px;
    padding: 0px;
}
.main-container{
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/fondo2.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.main-menu{
    display: flex;
    justify-content: space-between;
    padding-left:1em;
    padding-right:1em;
    padding-top:1.5em;
}
.items-menu{
    display: flex;
    justify-content: flex-start;
    width: 40%;
}
.logo{
    width: 40%;
}
.items-menu ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.items-menu ul li{
    list-style: none;
}
.items-menu ul li a{
    color:white;
    text-decoration: none;
    font-size: 1.5em;
}
.download-btn{
    background-color: transparent;
    border-radius: 10px;
    width: 20em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border:solid 2px #a1a1a1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.download-btn img{
    width: 15%;
}
.download-btn span{
    font-size: 1.5em;
    color:white;
}
.download-btn span span{
    font-size: 0.5em;
}

.header{
    width: 90%;
    padding-left:10%;
}
.title-header{
    margin-top: 3em;
    width: 50%;
    font-size: 4em;
    color:white;
}
.desc-header{
    width: 5em;
    color:white;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: solid 3px tomato;
}

/*estilos para noticias*/

.news-container{
    margin-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
}
.news-container_container{
    width: 70%;
}
.news-title_container{
    display: flex;
}
.news-title{
    margin:0px;
    color:white;
    font-size: 0.9em;
}
.news-title_container a{
    color:rgb(180, 175, 175);
    text-decoration: none;
    margin-left: 10px;
}
.news-items_container{
    display: flex;
    justify-content: space-between;
}
.news-item{
    width: 30%;
    height: 15em;
    background-color: tomato;
    position: relative;
    overflow: hidden;
}

.news-item img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-text{
    position: absolute;
    width: 100%;
    height: 100%;
    color:white;
    background-image: linear-gradient(0deg, black , rgba(0, 0, 0, 0.349));
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -50%;
    transition: all 0.5s;
}
.news-item-date, .news-item-description{
    color:#c5c5c5;
    width: 90%;
}
.news-item-title{
    width: 90%;
}

.news-item:hover .news-text{
    bottom: 0%;
}